<script type="text/javascript">
      function initialize() {
        var myLatlng = new google.maps.LatLng(<%= @res.lat %>,<%= @res.lng %>);
        var mapOptions = {
          zoom: 18,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title:"Hello World!"
        });
      }
    </script>

<div class="nav">
  <ul class="navigation">
    <li><a class="home" href="#home">Home</a></li> 
    <li><a class="services" href="#services">Services</a></li>
    <li><a class="portfolio" href="#portfolio">Portfolio</a></li>
    <li><a class="about" href="#About">About Us</a></li>
    <li><a class="contact" href="#Contact">Contact Us</a></li>
  </ul>
</div>

<div id="services">
  <div class="page">
    <ul class="tabs">
      <% @services.each_with_index do |service, i|%>
        <li><a href="#tab<%=  i+1 %>"><%= service.title %></a></li>
      <% end %>
    </ul>
    <div class="tab-container">
      <% @services.each_with_index do |service, i|%>
        <div id="tab<%=  i+1 %>" class="tab-content">
          <div class="ct_services">
            <%= service.content %>
            <% service.images.each do |image| %>
              <div class="service_img">
                <div><%= image_tag image.image.url(:thumb), :width=>"120px", :height=>"80px" %></div>
              </div>       
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="moon"></div>
    <div class="ufo"></div>
    <div class="rocket"></div>
    <div class="rocket2"></div>

    <!--<img src="images/rocket.png" width="216"/>-->
  </div>
</div>
<div id="portfolio" class="clearfix">
  <div class="cloud"></div>
  <div class="page">
    <div class="shadow"><img src="../assets/shadow.png" width="100%" height=""/></div>
    <div class="balloon1"></div>
    <div class="balloon2"></div>
    <div class="balloon3"></div>
    <div class="balloon4"></div>
    <div id="sliderwraper">

      <div class="slides slider">
        <% @portfolios.each do |portfolio| %>
          <div>
            <%= image_tag portfolio.image.image.url, :width=>"641", :height=>"399" %>
            <div class="Description">
              <a href=""><%= portfolio.title %></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="cloud2"></div>
</div>

<div id="home" class="clearfix">
  <div class="cloudmoving"/></div>
<div class="cloud3"></div>
<div class="birds"></div>
<div class="page">

  <div class="content">
    <%= image_tag "title.png", :width=>457, :height => 67 %>
    <p>
      <%= @home.content %>
    </p>
  </div>

  <div class="stork">
    <div class="blogwraper">
      <% @blog.each do |blog| %>
        <div class="blogspotlight">
          <h3><%= truncate blog.title, length: 20 %></h3>
          <p><%= truncate blog.content, length: 60 %><a href="">more</a></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tree"></div>
</div>
</div>
<div id="About" class="clearfix">
  <div class="water">
    <%= image_tag 'jawshadow.png', :class => 'pos' %>
    <%= image_tag 'jawshadow.png', :width=>"70", :class=>"pos2" %>
    <%= image_tag 'jawshadow.png', :width=>"", :class=>"pos3" %>
    <%= image_tag 'jawshadow.png', :width=>"50", :class=>"pos4" %>
  </div>
  <div class="aboutwraper">
    <div class="abwrap">
      <h2>About Us</h2>
      <p><%= @about.try(:content) %></p>
      <h3>What people sayings about us ?</h3>
      <div class="testimonial">
        <%= @comment.comment %>
      </div>
      <p>- <%= @comment.name %>, <%= @comment.title %>, <%= @comment.address %></p>
      <video id="my_video_1" class="video-js vjs-default-skin" controls
             preload="auto" width="350" height="200" poster="my_video_poster.png"
             data-setup="{}">
        <source src=<%= @video.video.url %> type='video/mp4'>
      </video>
    </div>
    <div class="teamwrap">
      <h3>Our Teams</h3>
      <div class="teamwrap_team">
        <%= render 'index' %>
      </div>
      <div id="paginator">
        <%= paginate @teams, :remote => true %>
      </div>
    </div>

  </div>
  <%= image_tag 'reef.png', :class=>'reef',:width=>"100%" %>
</div>
<div id="Contact">
  <div class="border"></div>
  <div class="border3"></div>
  <div class="cyrcle"></div>
  <div class="cyrcle2"></div>
  <div class="cyrcle3"></div>
  <div class="cyrcle4"></div>
  <div class="contactwrap">
    <div class="contactform">
      <%= image_tag 'contacttext.png', :width=>"178" %>
      <%  @contact = Contact.new %>
      <%= form_for(@contact, :url => contacts_path) do |f| %>
        <div class="field">
          <%= f.text_field :name, :placeholder=>"Your name" %>
        </div>
        <div class="field">
          <%= f.text_field :email, :placeholder=>"Your Email" %>
        </div>
        <div class="field">
          <%= f.text_field :subject , :placeholder=>"Your Subject"%>
        </div>
        <div class="field">
          <%= f.text_area :request, rows: 3 %>
        </div>
        <div class="actions">
          <%= f.submit "send", :class=>"btnsend" %>
        </div>
      <% end %>
    </div>

    <div class="mapwraper">
      <div class="maptag" >
        <div id="map_canvas" style="width: 300px; height: 300px" ></div>
      </div>
      <div class="descmap">
        <h2>Here We Are !</h2>
        Kompleks Melong Green Garden <br />
        <%=  @location.address %>  <br />
        <%=  @location.city %>  <br />
        <%=  @location.mobile_phone %> <br />
        <%=  @location.phone %> 
        <h3>Find Us :</h3>
        <ul class="socialtag">
          <li><a title="Follow us on Pushjaw" href="https://www.facebook.com/pushjaws" class="fb tooltips"></a></li>
          <li><a title="Follow us on @Pushjaw" href="" class="tw tooltips"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="worm"></div>
  <div class="border2"></div>
</div>

<footer>
  &copy; copyright pushjaw 2012
</footer>
