<script type="text/javascript">
  function initialize() {
    var myLatlng = new google.maps.LatLng(<%= @res.lat %>,<%= @res.lng %>);
    var mapOptions = {
      zoom: 18,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"Hello World!"
    });
  }
</script>

<div class="nav">
  <ul class="navigation">
    <li><a class="home" href="#home">Home</a></li> 
    <li><a class="services" href="#services">Services</a></li>
    <li><a class="portfolio" href="#portfolio">Portfolio</a></li>
    <li><a class="Blogs" href=<%= blog_index_path %>>Blog</a></li>
    <li><a class="about" href="#About">About Us</a></li>
    <li><a class="contact" href="#Contact">Contact Us</a></li>
  </ul>
</div>

<div id="services">
  <div class="page">
    <ul class="tabs">
      <% @services.each_with_index do |service, i|%>
        <li><a href="#tab<%=  i+1 %>"><%= service.title %></a></li>
      <% end %>
    </ul>
    <div class="tab-container">
      <% @services.each_with_index do |service, i|%>
        <div id="tab<%=  i+1 %>" class="tab-content">
          <div class="ct_services">
            <%= service.content %>
            <% service.images.each do |image| %>
              <div class="service_img">
                <div><%= image_tag image.image.url(:thumb), :width=>"120px", :height=>"80px" %></div>
              </div>       
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="moon"></div>
    <div class="ufo"></div>
    <div class="rocket"></div>
    <div class="rocket2"></div>

    <!--<img src="images/rocket.png" width="216"/>-->
  </div>
</div>
<div id="portfolio" class="clearfix">
  <div class="cloud"></div>
  <div class="page">
    <div class="shadow"><img src="../assets/shadow.png" width="100%" height=""/></div>
    <div class="balloon1"></div>
    <div class="balloon2"></div>
    <div class="balloon4"></div>
    <div id="sliderwraper">

      <div class="slides slider">
        <% @portfolios.each do |portfolio| %>
          <div>
            <%= image_tag portfolio.image.image.url, :width=>"641", :height=>"399" %>
            <div class="Description">
              <a href="<%= portfolio.url %>" target="_blank"><%= portfolio.title %></a>
              <p><%= truncate(strip_tags(portfolio.content), length: 70 ) %></p>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <div class="cloud2"></div>

</div>

<div id="home" class="clearfix">
  <div class="cloudmoving"/></div>
<div class="cloud3"></div>
<div class="birds"></div>
<div class="page">

  <div class="content">
    <%= image_tag "title.png", :width=>457, :height => 67 %>
    <p>
      <%= @home.content %>
    </p>
  </div>

  <div class="stork">
    <div class="blogwraper">
      <% @blog.each do |blog| %>
        <div class="blogspotlight">
          <h3><%= truncate blog.title, length: 20 %></h3>
          <p><%= sanitize(truncate blog.content, length: 60) %><a href="<%= blog_show_path(:id => blog) %>" target="_blank">more</a></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tree"></div>
</div>
</div>
<div id="About" class="clearfix">

  <div class="water">
    <%= image_tag 'jawshadow.png', :class => 'pos' %>
    <%= image_tag 'jawshadow.png', :width=>"70", :class=>"pos2" %>
    <%= image_tag 'jawshadow.png', :width=>"", :class=>"pos3" %>
    <%= image_tag 'jawshadow.png', :width=>"50", :class=>"pos4" %>
  </div>

  <div class="aboutwraper content_6 content">
    <div class="images_container">

      <div class="abwrap">
        <h2>About Us</h2>
        <p><%= @about.try(:content) %></p>
        <h3>What people sayings about us ?</h3>
        <div class="testimonial">
          <%= @comment.comment %>
        </div>
        <p>- <%= @comment.name %>, <%= @comment.title %>, <%= @comment.address %></p>
      </div>

      <div class="teamwrap">
        <h3>Our Teams</h3>
        <div class="teamwrap_team">
          <%= render 'index' %>
        </div>
        <div id="paginator">
          <%= paginate @teams, :remote => true %>
        </div>
      </div>

      <div class="gall">
        <h3>Gallery</h3>
        <% @videos.each_with_index do |video,i| %>
          <div class="gall_desc">
            <a class="video" title=<%= video.title %> >
              <a href="#myModal<%= i+1 %>" role="button" class="btn" data-toggle="modal">
                <%= image_tag video.video.url(:thumb), :width => "100" , :height => "66" %>
              </a>
            </a>
            <span>
              <h1><%= video.title %></h1>
              <p><%= video.description %></p>
            </span>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <%= image_tag 'reef.png', :class=>'reef',:width=>"100%" %>
</div>
<div id="Contact">
  <div class="border"></div>
  <div class="border3"></div>
  <div class="cyrcle"></div>
  <div class="cyrcle2"></div>
  <div class="cyrcle3"></div>
  <div class="cyrcle4"></div>
  <div class="contactwrap">

    <div class="contactform">
      <%= image_tag 'contacttext.png', :width=>"178" %>
      <%  @contact = Contact.new %>
      <%= form_for(@contact, :url => contacts_path) do |f| %>
        <div class="field">
          <%= f.text_field :name, :placeholder=>"Your name" %>
        </div>
        <div class="field">
          <%= f.text_field :email, :placeholder=>"Your Email" %>
        </div>
        <div class="field">
          <%= f.text_field :subject , :placeholder=>"Your Subject"%>
        </div>
        <div class="field">
          <%= f.text_area :request, rows: 3 %>
        </div>
        <div class="actions">
          <%= f.submit "send", :class=>"btnsend" %>
        </div>
      <% end %>
    </div>

    <div class="mapwraper">
      <div class="maptag" >
        <div id="map_canvas" style="width: 300px; height: 300px" ></div>
      </div>
      <div class="descmap">
        <h2>Here We Are !</h2>
        <%=  @location.address %>  <br />
        <%=  @location.city %>  <br />
        <%=  @location.mobile_phone %> <br />
        <%=  @location.phone %> 
        <h3>Find Us :</h3>
        <ul class="socialtag">
          <li><a title="Follow us on Pushjaw" href="https://www.facebook.com/pushjaws" class="fb tooltips"></a></li>
          <li><a title="Follow us on @Pushjaw" href="" class="tw tooltips"></a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="worm"></div>
  <div class="border2"></div>
</div>

<footer>
  &copy; copyright pushjaw 2012
</footer>

<%= render 'video' %>

