<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
  <title>Pushjaw</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
=======
  <head>
    <title>Pushjaw</title>
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
>>>>>>> 43728802c09f058e6c897266c33e85d9223d1b8e

    <%= yield %>

  </body>
</html>
